{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">{% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> Delivery Partner Orders Payments</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="" enctype="multipart/form-data" id="form-order">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center">
                                            #OrderID
                                        </td>
                                        <td class="text-right">Customer Name</td>
                                        <td class="text-left">Delivery Partner</td>

                                        <td class="text-left">{% if sort == 'order_status' %} <a
                                                    href="{{ sort_status }}"
                                                    class="{{ order|lower }}">Status</a> {% else %} <a
                                                    href="{{ sort_status }}">Status</a> {% endif %}</td>

                                        <td class="text-left">Delivery Status</td>
                                        <td class="text-left">Delivery Charges</td>
                                        <td class="text-right">Total</td>
                                        <td class="text-right">Date Added</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if orders %}
                                    {% for order in orders %}
                                    <tr>
                                        <td class="text-center">{{ order.order_id }}</td>
                                        <td class="text-right">{{ order.name }}</td>
                                        <td class="text-left">{{ order.delivery_partner_name }}</td>
                                        <td class="text-left">{{ order.status }}</td>
                                        <td class="text-left">{{ order.delivery_status }}</td>
                                        <td class="text-right">{{ order.delivery_charges }}</td>
                                        <td class="text-right">{{ order.total }}</td>
                                        <td class="text-left">{{ order.date_added }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td class="text-center" colspan="8">{{ text_no_results }}</td>
                                    </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
