{{ header }}
<div id="mv-dashboard" class="bg-light">
<div id="container" class="container">
 <div class="row">
     {{ profile_column_left }}
   <div id="content" class="col-12 col-lg-9 py-5">
      <div class="mv-dashboard-wrap">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-signin card px-4 box-shadow">
              <h3 class="f-20 font-weight-bold text-uppercase mt-3">
                DASHBOARD
              </h3>
              <hr style="margin: 15px -25px">
            <div class="mv-dashboard-right">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mv-ovrvw">
                    <ul class="list-unstyled">
                      <li>
                        <div class="title">{{ text_sales }}</div>
                        <div class="count highlight">{{ total_sales }}</div>
                      </li>
                    </ul>
                  </div>
                  <div class="mv-ovrvw">
                    <ul class="list-unstyled">
                      <li>
                        <div class="title">{{ text_orders }} <a  href="{{ all_orders }}">{{ button_viewmore }}</a></div>
                        <div class="count highlight">
                        	<span class="cnt"><b>{{ total_orders }}</b></span>
                        	{% for order_status in order_statuses %}
                        		<div class="list">
                              	<a href="{{ order_status.href }}">
                               {{ order_status.name }}:
                                <b>{{ order_status.total_orders }}</b>
                            	</a>
                          	</div>
                          {% endfor %}
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="mv-ovrvw">
                    <ul class="list-unstyled">
                      <li>
                        <div class="title">{{ text_reviews }} <a href="{{ all_reviews }}">{{ text_viewmore }}</a></div>
                        <div class="count highlight">
                            {{ total_reviews }}
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6">                  
                  <div class="mv-ovrvw">
                    <ul class="list-unstyled">
                      <li>
                        <div class="title">{{ text_commission }}</div>
                        <div class="highlight">
                        	<span>{{ total_commission }}</span>
                        	<div class="list">
                        		{{ text_recevied_payment }}: <b>{{ recevied_payment }}</b>
                        	</div>	
                        	<div class="list">
                        		{{ text_available_balance }}: <b>{{ available_balance }}</b>
                        	</div> 
                        </div>
                      </li>
                    </ul>
                  </div>  
                  <div class="mv-ovrvw">
                    <ul class="list-unstyled">
                      <li>
                        <div class="title">{{ text_products }} <a href="{{ new_product }}">{{ button_new_product }}</a></div>
                        <div class="count highlight">{{ total_products }}</div>
                      </li>
                    </ul>
                  </div>
                  <div class="mv-ovrvw">
                    <ul class="list-unstyled">
                      <li>
                        <div class="title">{{ text_services }} <a href="{{ new_service }}">{{ button_new_service }}</a></div>
                        <div class="count highlight">{{ total_services }}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
   </div>
</div>
</div>
{{ footer }}