{{ header }}
<div id="mv-payment" class="bg-light">
  <div id="container" class="container">
    <div class="row">
        {{ profile_column_left }}
      <div id="content" class="col-12 col-md-9 col-lg-9 py-5">
        <div class="mv-dashboard-wrap">
          <div class="row">
            <div class="col-sm-12 mv-reviews">
              <div class="form-signin card px-4 box-shadow">
                <h3 class="f-20 font-weight-bold text-uppercase mt-3">
                    {{ heading_title }}
                </h3>
                <hr style="margin: 15px -25px">
                <div class="well">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
                        <div class="input-group date">
                          <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
                          <span class="input-group-btn position-absolute" style="right:0;">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span></div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
                        <div class="input-group date">
                          <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
                          <span class="input-group-btn position-absolute" style="right:0;">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span></div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <label class="control-label invisible d-block">abcd</label>
                      <button type="button" id="button-filter" class="btn btn-primary w-100"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                    </div>
                  </div>
                </div>

                <h3 class="text-left f-20">{{ text_final_payment }}: <b>{{ final_payment }}</b></h3>

                <div class="table-responsive">
                  <table class="table table-hover list">
                    <thead>
                    <tr>
                      <td class="text-left">{% if sort == 'e.date_added' %}
                          <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                          {% else %}
                            <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                          {% endif %}</td>
                      <td class="text-right">{% if sort == 'mc.amount' %}
                          <a href="{{ sort_amount }}" class="{{ order|lower }}">{{ column_amount }}</a>
                          {% else %}
                            <a href="{{ sort_amount }}">{{ column_amount }}</a>
                          {% endif %}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if payments %}
                        {% for payment in payments %}
                          <tr>
                            <td class="text-left">{{ payment.date_added }}</td>
                            <td class="text-right">{{ payment.amount }}</td>
                          </tr>
                        {% endfor %}
                    {% else %}
                      <tr>
                        <td class="text-center" colspan="2">{{ text_no_results }}</td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            {{ content_bottom }}</div>
      </div>
    </div>
    <script src="catalog/view/javascript/mpseller/datetimepicker/moment.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
    <script type="text/javascript"><!--
        $('#button-filter').on('click', function() {
            var url = 'index.php?route=account/mpmultivendor/payment';

            var filter_date_start = $('input[name=\'filter_date_start\']').val();
            if (filter_date_start) {
                url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
            }

            var filter_date_end = $('input[name=\'filter_date_end\']').val();
            if (filter_date_end) {
                url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
            }

            location = url;
        });
        //--></script>
    <script type="text/javascript"><!--
        $('.date').datetimepicker({
            pickTime: false
        });

        $('.time').datetimepicker({
            pickDate: false
        });

        $('.datetime').datetimepicker({
            pickDate: true,
            pickTime: true
        });
        //--></script>
  </div>
</div>
{{ footer }}