{{ header }}
<div id="mv-orders" class="bg-light">
    <div id="container" class="container">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
        <div class="row">
            {{ profile_column_left }}
            <div id="content" class="col-12 col-md-9 col-lg-9 pb-5">
                <div class="mv-dashboard-wrap">
                    <div class="row">
                        <div class="col-sm-12 mv-orders">
                            <div class="form-signin card px-4 box-shadow">
                                <h3 class="f-20 font-weight-bold text-uppercase mt-3">
                                    {#{{ heading_title }}#}
                                    Pending Orders
                                </h3>
                                <hr style="margin: 15px -25px">
                                <div class="well">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">{{ entry_order_status }}</label>
                                                <select name="filter_order_status_id" class="form-control">
                                                    <option value="">{{ text_all }}</option>
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == filter_order_status_id %}
                                                            <option value="{{ order_status.order_status_id }}"
                                                                    selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
{#                                        <div class="col-sm-3">#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label">{{ entry_admin_order_status }}</label>#}
{#                                                <select name="filter_admin_order_status_id" class="form-control">#}
{#                                                    <option value="">{{ text_all }}</option>#}
{#                                                    {% for order_status in order_statuses %}#}
{#                                                        {% if order_status.order_status_id == filter_admin_order_status_id %}#}
{#                                                            <option value="{{ order_status.order_status_id }}"#}
{#                                                                    selected="selected">{{ order_status.name }}</option>#}
{#                                                        {% else %}#}
{#                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>#}
{#                                                        {% endif %}#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
{#                                            </div>#}
{#                                        </div>#}
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label"
                                                       for="input-order-id">{{ entry_order_id }}</label>
                                                <input type="text" name="filter_order_id" value="{{ filter_order_id }}"
                                                       placeholder="{{ entry_order_id }}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label"
                                                       for="input-date-added">{{ entry_date_added }}</label>
                                                <div class="input-group date">
                                                    <input type="text" name="filter_date_added"
                                                           value="{{ filter_date_added }}"
                                                           class="form-control" data-date-format="YYYY-MM-DD">
                                                    <span class="input-group-btn position-absolute" style="right:0;">
                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <label class="control-label invisible">abcd</label>
                                            <button type="button" id="button-filter" class="btn btn-primary pull-right">
                                                <i
                                                        class="fa fa-filter"></i>
                                                {#{{ button_filter }}#}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% if orders %}
                                    <div class="table-responsive">
                                        <table class="table table-hover list">
                                            <thead>
                                            <tr>
                                                <td class="text-left">
                                                {{ column_order_id }}</th>
                                                <td class="text-left">{{ column_customer }}</td>
                                                <td class="text-left">Order Status</td>
{#                                                <td class="text-left">{{ column_by_admin_status }}</td>#}
                                                <td class="text-right">{{ column_total }}</td>
                                                <td class="text-right">{{ column_date_added }}</td>
                                                <td class="text-right">{{ column_action }}</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order in orders %}
                                                <tr>
                                                    <td class="text-left">#{{ order.order_id }}</td>
                                                    <td class="text-left">{{ order.name }}</td>
                                                    <td class="text-left">{{ order.status }}</td>
{#                                                    <td class="text-left">{{ order.by_admin_status }}</td>#}
                                                    <td class="text-right">{{ order.total }}</td>
                                                    <td class="text-right">{{ order.date_added }}</td>
                                                    <td class="text-right"><a href="{{ order.view }}"
                                                                              data-toggle="tooltip"
                                                                              title="{{ button_view }}"
                                                                              class="btn btn-info button"><i
                                                                    class="fa fa-eye"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-7 text-left">{{ pagination }}</div>
                                        <div class="col-sm-5 text-right">{{ results }}</div>
                                    </div>
                                {% else %}
                                    <p>{{ text_empty }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {{ content_bottom }}
            </div>
        </div>
        <script type="text/javascript"><!--
            $('#button-filter').on('click', function () {
                var url = 'index.php?route=account/mpmultivendor/orders';

                var filter_order_id = $('input[name=\'filter_order_id\']').val();
                if (filter_order_id) {
                    url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
                }

                var filter_date_added = $('input[name=\'filter_date_added\']').val();
                if (filter_date_added) {
                    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
                }

                var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();
                if (filter_order_status_id) {
                    url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
                }

                var filter_admin_order_status_id = $('select[name=\'filter_admin_order_status_id\']').val();
                if (filter_admin_order_status_id) {
                    url += '&filter_admin_order_status_id=' + encodeURIComponent(filter_admin_order_status_id);
                }

                location = url;
            });
            //--></script>
        <script src="catalog/view/javascript/mpseller/datetimepicker/moment.js" type="text/javascript"></script>
        <script src="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.js"
                type="text/javascript"></script>
        <link href="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
              rel="stylesheet" media="screen"/>
        <script type="text/javascript"><!--
            $('.date').datetimepicker({
                pickTime: false
            });

            $('.time').datetimepicker({
                pickDate: false
            });

            $('.datetime').datetimepicker({
                pickDate: true,
                pickTime: true
            });
            //--></script>
    </div>
</div>
{{ footer }}