{{ header }}

<section class="delivery-info delivery-partner-info faq-page faq-collapse" xmlns="">

  <div class="container my-5">
    <div class="row bg-light py-5">
      <div class="col-12">
        <div class="banner-title text-center">
          <h3 class="f-25">
              {{ becomeSeller }}
          </h3>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
          {{ becomeSellerDesc }}
        <div class="text-center">

          <a href="{{ become_seller_link }}" class="btn-success py-2 px-5 text-center">Become a Seller</a>
        </div>
      </div>

    </div>
  </div>
</section>
{{ footer }}