{{ header }}

<section class="delivery-info delivery-partner-info faq-page faq-collapse" xmlns="">

  <div class="container my-5">
    <div class="row bg-light py-5">
      <div class="col-12">
        <div class="banner-title text-center">
          <h3 class="f-25">
              {{ becomeDeliveryPartner }}
          </h3>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
          {{ becomeDeliveryPartnerDesc }}
        <a href="{{ delivery_partner_register_link }}" class="btn-success py-2 px-5">Become a delivery partner</a>
      </div>
    </div>
  </div>
</section>
{{ footer }}