{{ header }}
<section id="information-contact" class="mb-4">
    <div class="hero-image">
        <div class="container">
            <div class="inner-text">
                <h3 class="text f-65 text-white font-weight-black text-center text-uppercase">Contact Us</h3>
            </div>
        </div>
        <div class="container get-in-touch">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-success p-3">
                        <h3 class="f-25 text-white font-weight-black text-center text-uppercase">Get in touch</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-3">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="text-primary font-weight-bold f-15 control-label"
                                           for="input-name">{{ entry_name }}</label>
                                    <input type="text" name="name" value="{{ name }}" id="input-name"
                                           class="form-control"/>
                                    {% if error_name %}
                                        <div class="text-danger">{{ error_name }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="text-primary font-weight-bold f-15 control-label"
                                           for="input-email">{{ entry_email }}</label>
                                    <input type="text" name="email" value="{{ email }}" id="input-email"
                                           class="form-control"/>
                                    {% if error_email %}
                                        <div class="text-danger">{{ error_email }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="inputSubject" class="text-primary font-weight-bold f-15">Subject</label>
                                <input type="text" name="subject" id="inputSubject" class="form-control" placeholder=""
                                       required="" autofocus="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="form-group required">
                                    <label class="text-primary font-weight-bold f-15 control-label"
                                           for="input-enquiry">{{ entry_enquiry }}</label>
                                    <textarea name="enquiry" rows="10" id="input-enquiry"
                                              class="form-control">{{ enquiry }}</textarea>
                                    {% if error_enquiry %}
                                        <div class="text-danger">{{ error_enquiry }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ captcha }}
                        <input class="btn btn-success py-2 w-50 text-white font-weight-medium" type="submit"
                               value="{{ button_submit }}"/>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="f-25 font-weight-black text-uppercase mt-5 mb-4">Information</h3>
                <ul class="list-unstyled information">
                    <li class="">
                        <div class="information-icons d-inline-block">
                            <img src="catalog/view/theme/champion/image/Email (1).svg" alt="">
                        </div>
                        <div class="d-inline-block" style="vertical-align: middle;">
                            <h3 class="f-20 font-weight-black">Contact By Email</h3>
                            <p class="f-15 text-gray-300">{{ owner_email }}</p>
                        </div>
                    </li>
                    <li class="">
                        <div class="information-icons d-inline-block">
                            <img src="catalog/view/theme/champion/image/Map (1).svg" alt="">
                        </div>
                        <div class="d-inline-block" style="vertical-align: middle;">
                            <h3 class="f-20 font-weight-black">Come To See Us</h3>
                            <p class="f-15 text-gray-300" style="max-width: 200px;">{{ owner_name }}<br>{{ address }}<br><strong><i class="fa fa-phone-square" aria-hidden="true"></i> </strong>{{ owner_telephone }}</p>
                        </div>
                    </li>
                    <li class="">
                        <div class="information-icons d-inline-block">
                            <img src="catalog/view/theme/champion/image/Social.svg" alt="">
                        </div>
                        <div class="d-inline-block" style="vertical-align: middle;">
                            <h3 class="f-20 font-weight-black">Social</h3>
                            <p class="f-15 text-gray-300">{{ owner_email }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{ footer }}
