{{ header }}

<!--<div id="account-account" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h2>{{ text_my_account }}</h2>
            <ul class="list-unstyled">
                <li><a href="{{ edit }}">{{ text_edit }}</a></li>
                <li><a href="{{ password }}">{{ text_password }}</a></li>
                <li><a href="{{ address }}">{{ text_address }}</a></li>
                <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            </ul>
            {% if credit_cards %}
                <h2>{{ text_credit_card }}</h2>
                <ul class="list-unstyled">
                    {% for credit_card in credit_cards %}
                        <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>{{ text_my_orders }}</h2>
            <ul class="list-unstyled">
                <li><a href="{{ order }}">{{ text_order }}</a></li>
                <li><a href="{{ download }}">{{ text_download }}</a></li>
                {% if reward %}
                    <li><a href="{{ reward }}">{{ text_reward }}</a></li>
                {% endif %}
                <li><a href="{{ return }}">{{ text_return }}</a></li>
                <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                <li><a href="{{ recurring }}">{{ text_recurring }}</a></li>
            </ul>
            <h2>{{ text_my_affiliate }}</h2>
            <ul class="list-unstyled">
                {% if not tracking %}
                    <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>
                {% else %}
                    <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>
                    <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>
                {% endif %}
            </ul>
            <h2>{{ text_my_newsletter }}</h2>
            <ul class="list-unstyled">
                <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
            </ul>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>-->

<section id="account-account" class="register update-profile" style="background: #F3F3F3;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="py-5">
                    <div class="form-signin card p-4">

                        <div id="account-account" class="container">
                            {% if success %}
                                <div class="alert alert-success alert-dismissible"><i
                                            class="fa fa-check-circle"></i> {{ success }}</div>
                            {% endif %}

                            <h4 class="f-35 text-center mb-5">DASHBOARD</h4>

                            <div class="row">
                                <div id="content" class="col-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="card p-lg-5 p-3 h-100">
                                        <h4 class="card-title">{{ text_my_account }}</h4>
                                        <ul class="list-unstyled card-text">
                                            <li><a href="{{ edit }}">{{ text_edit }}</a></li>
                                            <li><a href="{{ password }}">{{ text_password }}</a></li>
                                            <li><a href="{{ address }}">{{ text_address }}</a></li>
                                            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                {% if credit_cards %}
                                    <div id="content" class="col-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="card p-lg-5 p-3 h-100">
                                            <h4>{{ text_credit_card }}</h4>
                                            <ul class="list-unstyled">
                                                {% for credit_card in credit_cards %}
                                                    <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if is_seller %}
                                    <div id="content" class="col-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="card p-lg-5 p-3 h-100">
                                            <h4>Seller Panel</h4>
                                            <ul class="list-unstyled">
                                                <li><a href="{{ seller_link }}">Become a seller</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}

                                <div id="content" class="col-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="card p-lg-5 p-3 h-100">
                                        <h4>{{ text_my_orders }}</h4>
                                        <ul class="list-unstyled">
                                            <li><a href="{{ order }}">{{ text_order }}</a></li>
                                            {#                                            <li><a href="{{ download }}">{{ text_download }}</a></li>#}
                                            {#                                            {% if reward %}#}
                                            {#                                                <li><a href="{{ reward }}">{{ text_reward }}</a></li>#}
                                            {#                                            {% endif %}#}
                                            {#                                            <li><a href="{{ return }}">{{ text_return }}</a></li>#}
                                            {#                                            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>#}
                                            {#                                            <li><a href="{{ recurring }}">{{ text_recurring }}</a></li>#}
                                        </ul>
                                    </div>
                                </div>
                                {#                                <div id="content" class="col-12 col-sm-4 col-md-4 col-lg-4">#}
                                {#                                    <div class="card p-lg-5 p-3 h-100">#}
                                {#                                        <h4>{{ text_my_affiliate }}</h4>#}
                                {#                                        <ul class="list-unstyled">#}
                                {#                                            {% if not tracking %}#}
                                {#                                                <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>#}
                                {#                                            {% else %}#}
                                {#                                                <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>#}
                                {#                                                <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>#}
                                {#                                            {% endif %}#}
                                {#                                        </ul>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div id="content" class="col-12 col-sm-4 col-md-4 col-lg-4 mt-lg-4">#}
                                {#                                    <div class="card p-lg-5 p-3 h-100">#}
                                {#                                        <h4>{{ text_my_newsletter }}</h4>#}
                                {#                                        <ul class="list-unstyled">#}
                                {#                                            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
                                {#                                        </ul>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{{ footer }}