{{ header }}
<section id="account-address" class="register update-profile " style="background: #F3F3F3;">
    <div class="container">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
        <div class="row">
            {{  profile_column_left }}
            <div class="col-12 col-md-12 col-lg-6">
                <div class="pb-5">
                    <div class="form-signin box-shadow card p-4">

                        <section class="shipping-address" id="account-address">
                            <div class="container">
                                <h3 class="mb-4 text-left f-20 text-uppercase">{{ heading_title }}</h3>
                                {% if success %}
                                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
                                {% endif %}
                                {% if error_warning %}
                                    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
                                {% endif %}
                                <div class="row">
                                    {#m-0#}
                                    <div class="col-12 text-success">
                                        {#p-4 border mb-5 #}
                                        <a href="{{ add }}">
                                            {#{{ button_new_address }}#}
                                            <i class="fas fa-plus mr-4" aria-hidden="true"></i> Add new Address</a>
                                    </div>
                                </div>
                                <hr>
                                {% if addresses %}
                                    {% for result in addresses %}
                                        <form action="#" class="">
                                            <div class="row ">
                                                {#m-0 mb-5#}

                                                <div class="col-12">
                                                    {#p-4 border#}
                                                    <div class="main-address-title d-inline-block">
                                                        <h6>
                                                            {% if result.isDefaultAddress %}
                                                                Main Delivery Address
                                                            {% else %}
                                                                Other Delivery Address
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <div class="edit delete d-inline-block float-right buttons clearfix">
                                                        <a href="{{ result.update }}">{{ button_edit }}</a>
                                                        <a
                                                                href="{{ result.delete }}">{{ button_delete }}</a>
                                                    </div>
                                                </div>
                                                <div class="adress-description col-12">
                                                    {#p-4 border-top-0 border#}
                                                    {{ result.address }}
                                                </div>
                                            </div>
                                            <hr>
                                        </form>
                                    {% endfor %}
                                {% else %}
                                    <p>{{ text_empty }}</p>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>













{{ footer }}