{{ header }}
<style>
    .status {
        color: white;
        border-radius: 5px;
        padding: 3px;
    }
</style>
<section id="account-edit" class="register update-profile" style="background: #F3F3F3;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="py-5">
                    <div class="form-signin card py-4 px-2">
                        <div id="delivery-info" class="container">
                            <div class="row">
                                <div id="content" class="col-sm-12">
                                    {% if success %}
                                        <div class="alert alert-success alert-dismissible"><i
                                                    class="fa fa-check-circle"></i> {{ success }}</div>
                                    {% endif %}
                                    <div class="justify-content-between row mx-0">
                                        <h4 class="f-20 font-weight-bold text-uppercase mb-3">Assigned Order View</h4>

                                        <a href='javascript:history.back(1);'><i
                                                    class="fas fa-long-arrow-alt-left on-hover f-35"></i></a>
                                    </div>

                                    <div class="">
                                        <p>Note : Check below delivery details & Accept/Decline your request from
                                            here.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                            <strong>Request Status : </strong>
                                            {% if is_accept == 1 %} <span class="bg-success status">Accepted</span>
                                            {% elseif is_accept == 2 %} <span class="bg-danger status">Declined</span>
                                            {% else %} <span class="bg-warning status">Pending</span>
                                            {% endif %}
                                            </div>
                                            <div>
                                                <p class="mb-0"><strong>Order Id :</strong> # {{ order.order_id }}</p>
                                                <p class="mb-0"><strong>Order Invoice Number :</strong> {{ order.invoice_prefix }}{{ order.invoice_no }}</p>
                                            </div>
                                        </div>
                                        {% if status %}
                                            <div class="d-flex">
                                                <strong>Order Request Status : </strong> &nbsp;&nbsp;&nbsp;
                                                <span class="bg-danger status">{{ status }}</span>
                                            </div>
                                            <br>
                                        {% endif %}
                                    </div>

                                    <table class="table table-hover bg-white box-shadow">
                                        <thead>
                                        <tr>
                                            <td class="text-left f-20 font-weight-black"
                                                style="width: 50%; vertical-align: top;">
                                                <h3 class="f-20 font-weight-bold text-uppercase my-2">Seller Info</h3>
                                            </td>
                                            <td class="text-left f-20 font-weight-black"
                                                style="width: 50%; vertical-align: top;">
                                                <h3 class="f-20 font-weight-bold text-uppercase my-2">Seller
                                                    Address</h3></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-left f-15">
                                                <strong>Store Owner : </strong>{{ seller.store_owner }} <br>
                                                <strong>Store Name : </strong>{{ seller.store_name }} <br>
                                                <strong>Email : </strong>{{ seller.email }} <br>
                                                <strong>Telephone : </strong>{{ seller.telephone }}
                                            </td>
                                            <td class="text-left f-15">
                                                <strong>Address : </strong>{{ seller.address }} <br>
                                                <strong>City : </strong>{{ seller.city }} <br>
                                                <strong>State : </strong>{{ seller.zone.name }} <br>
                                                <strong>Country : </strong>{{ seller.country.name }} <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-hover bg-white box-shadow">
                                        <thead>
                                        <tr>
                                            <td class="text-left f-20 font-weight-black"
                                                style="width: 50%; vertical-align: top;">
                                                <h3 class="f-20 font-weight-bold text-uppercase my-2">Delivery Info</h3>
                                            </td>
                                            <td class="text-left f-20 font-weight-black"
                                                style="width: 50%; vertical-align: top;">
                                                <h3 class="f-20 font-weight-bold text-uppercase my-2">Delivery
                                                    Address</h3></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-left f-15">
                                                <strong>Customer Name
                                                    : </strong>{{ order.shipping_firstname }} {{ order.shipping_lastname }}
                                                <br>
                                                <strong>Email : </strong>{{ order.email }} <br>
                                                <strong>Telephone : </strong>{{ order.telephone }}
                                            </td>
                                            <td class="text-left f-15">
                                                <strong>Address 1 : </strong>{{ order.shipping_address_1 }} <br>
                                                <strong>Address 2 : </strong>{{ order.shipping_address_2 }} <br>
                                                <strong>City : </strong>{{ order.shipping_city }} <br>
                                                <strong>State : </strong>{{ order.shipping_zone }} <br>
                                                <strong>Country : </strong>{{ order.shipping_country }} <br>
                                                <strong>Post Code : </strong>{{ order.shipping_postcode }} <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    {% if is_accept == 1 %}
                                        <hr>
                                        <h3 class="f-20 font-weight-bold text-uppercase my-2">Update Order Status</h3>
                                        <form action="{{ action_order_request_status }}" id="formOrderStatus" name="formOrderStatus" method="post">
                                            <div class="form-group required">
                                                <label class="control-label" for="selectStatus">Select Order Request Status </label>
                                                <select name="selectStatus" id="selectStatus" class="form-control" readonly>
                                                    <option value="">Select</option>
                                                    <option value="Order picked up">Order picked up</option>
                                                    <option value="En route Delivery">En route Delivery</option>
                                                    <option value="Parcel delivered">Parcel delivered</option>
                                                    <option value="Customer not at home">Customer not at home</option>
                                                    <option value="Wrong delivery address">Wrong delivery address</option>
                                                    <option value="Parcel not delivered">Parcel not delivered</option>
                                                    <option value="Parcel returned to seller">Parcel returned to seller</option>
                                                    <option value="Parcel left with the neighbour">Parcel left with the neighbour</option>
                                                    <option value="Others">Others (Please specify)</option>
                                                </select>
                                                <div class="text-danger">{{ error_message }}</div>
                                            </div>

                                            <div class="form-group" style="display: none" id="textOtherSpecification">
                                                <label for="inputOtherSpecification" class="control-label">Please Tell Us The Other Specification</label>
                                                <textarea id="inputOtherSpecification" name="inputOtherSpecification" class="form-control" cols="25" rows="6"></textarea>
                                                <div class="text-danger">{{ error_message }}</div>
                                            </div>

                                            <div class="buttons clearfix">
                                                <input type="submit" class="btn btn-success pull-right button-cancel-submit" id="button-cancel-submit" value="Submit">
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#selectStatus').on('change', function () {
        if($(this).val() == 'Others') {
            $('#textOtherSpecification').show();
        } else {
            $('#textOtherSpecification').hide();
        }
    });
</script>
{{ footer }}