{{ header }}
<div id="account-download" class="bg-light main-body">
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  <div class="container">
  <div class="row">
    <div id="content" class="col-12 my-5">{{ content_top }}
      <div class="form-signin card px-4 box-shadow">
        <div>
          <a href='javascript:history.back(1);' class="position-absolute f-35"><i class="fas fa-long-arrow-alt-left on-hover"></i></a>
      <h3 class="f-20 font-weight-bold text-uppercase text-center mt-3">{{ heading_title }}</h3>
        </div>
      {% if downloads %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="bg-light">
            <tr>
              <td class="text-right">{{ column_order_id }}</td>
              <td class="text-left">{{ column_name }}</td>
              <td class="text-left">{{ column_size }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          
          {% for download in downloads %}
          <tr>
            <td class="text-right">{{ download.order_id }}</td>
            <td class="text-left">{{ download.name }}</td>
            <td class="text-left">{{ download.size }}</td>
            <td class="text-left">{{ download.date_added }}</td>
            <td><a href="{{ download.href }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-primary"><i class="fa fa-cloud-download"></i></a></td>
          </tr>
          {% endfor %}
          </tbody>
          
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      {#<div class="buttons clearfix mb-4">#}
        {#<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
      {#</div>#}
          {{ content_bottom }}</div></div>
   </div>
  </div></div>
{{ footer }}