{{ header }}

{#<div id="account-login" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#{% if success %}#}
  {#<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>#}
  {#{% endif %}#}
  {#{% if error_warning %}#}
  {#<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>#}
  {#{% endif %}#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<div class="row">#}
        {#<div class="col-sm-6">#}
          {#<div class="well">#}
            {#<h2>{{ text_new_customer }}</h2>#}
            {#<p><strong>{{ text_register }}</strong></p>#}
            {#<p>{{ text_register_account }}</p>#}
            {#<a href="{{ register }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
          {#<div class="well">#}
            {#<h2>{{ text_returning_customer }}</h2>#}
            {#<p><strong>{{ text_i_am_returning_customer }}</strong></p>#}
            {#<form action="{{ action }}" method="post" enctype="multipart/form-data">#}
              {#<div class="form-group">#}
                {#<label class="control-label" for="input-email">{{ entry_email }}</label>#}
                {#<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />#}
              {#</div>#}
              {#<div class="form-group">#}
                {#<label class="control-label" for="input-password">{{ entry_password }}</label>#}
                {#<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />#}
                {#<a href="{{ forgotten }}">{{ text_forgotten }}</a></div>#}
              {#<input type="submit" value="{{ button_login }}" class="btn btn-primary" />#}
              {#{% if redirect %}#}
              {#<input type="hidden" name="redirect" value="{{ redirect }}" />#}
              {#{% endif %}#}
            {#</form>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}


<div id="account-login" class="">
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        </div>
    {% endif %}


    {#<div class="col-sm-6">#}
    {#<div class="well">#}
    {#<h2>{{ text_new_customer }}</h2>#}
    {#<p><strong>{{ text_register }}</strong></p>#}
    {#<p>{{ text_register_account }}</p>#}
    {#<a href="{{ register }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
    {#</div>#}
    <div class="login-form py-5">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-signin">
            <h3 class="mt-4 mb-4 font-weight-600 text-center f-35">{{ text_returning_customer }}</h3>

            <div class="form-group">
                <label class="control-label" for="input-email">{{ entry_email }}</label>
                <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="input-password">{{ entry_password }}</label>
                <input type="password" name="password" value="{{ password }}" id="input-password" class="form-control"/>
            </div>

            <div class="mb-3">
                <div class="form-group form-group-check mt-4">
                    <input type="checkbox" id="html" class="icheck-input">
                    <label for="html"><span class="text-secondary">Remember me</span></label>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <input type="submit" value="Login" class="btn btn-primary bg-success border-0 my-3 px-5 custom-btn"/>
                {% if redirect %}
                    <input type="hidden" name="redirect" value="{{ redirect }}"/>
                {% endif %}

                <a href="/"  class="btn btn-primary bg-success border-0 my-3 px-5 custom-btn">Continue Shopping</a>
            </div>
           

            <div class="justify-content-between d-flex">
                <div class="d-inline-block">
                    <p style="font-size: 0.7rem;" class="text-secondary"> Don't have an account?
                        <a href="{{ register }}" class="text-success"> Register</a>
                    </p>
                </div>
                <div class="d-inline-block">
                    <p style="font-size: 0.7rem; text-align: right">
                        <a class="text-secondary" href="{{ forgotten }}">{{ text_forgotten }}</a>
                    </p>
                </div>
            </div>

            <div id="devider-login">
                <p class="or-devider">OR</p>
            </div>

            <div class="row login-with">
                <div class="col-6">
                    <a href="" class="btn btn-primary w-100 bg-primary my-3 border-0 text-uppercase f-13">Login With <i
                                class="ml-2 fab fa-facebook-f"></i></a>
                </div>
                <div class="col-6">
                    <a href="" class="btn btn-primary w-100 bg-primary my-3 border-0 text-uppercase f-13">Login With <i
                                class="ml-2 fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>

{{ footer }}