{{ header }}

<div id="track-order" class="bg-light py-5">
    {#{% if order_status %}#}

    <div class="container">

        <div class="card border-0 box-shadow">
            <div class="row justify-content-between mx-5 px-5 mt-3">

                <div class="d-flex">
                    <h3 class="f-20 font-weight-bold text-uppercase text-center">ORDER <span
                                class="text-primary font-weight-bold">#{{ order_status.invoice_prefix }}{{ order_status.order_id }}</span>
                    </h3>
                </div>
                <div class="d-flex flex-column text-sm-right">
                    <!--<p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                    <p>USPS <span class="font-weight-bold">234094567242423422898</span></p>-->
                    <a href='javascript:history.back(1);' class=""><i
                                class="fas fa-long-arrow-alt-left f-25 on-hover"></i></a>
                </div>
            </div> <!-- Add class 'active' to progress -->

            <form method="get" id="track-form" action="{{ action }}">
            <div class="row justify-content-between mx-5 px-5 mt-3">
                <label class="f-12 px-2 mb-1">Track Your Order</label>

                    <div id="searchInputOrder" class="input-group mb-3 px-2">
                        <input type="text" name="search_order" value="{{ order_id }}"
                               placeholder="Enter the Order number here"
                               class="form-control">
                        <span class="input-group-append">
                    <button type="submit" class="btn btn-primary f-12"><i class="fa fa-search"
                                                                          aria-hidden="true"></i></button>
                    </span>
                    </div>
            </div>
            </form>

            <div class="row d-flex justify-content-center">
                {% if order_status is empty %}
                    <b>No order found!</b>
                {% else %}
                    <div class="col-12">
                        <ul id="progressbar" class="text-center">
                            {% if order_status.status == 'Pending' %}
                                <li class="active step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                            {% elseif order_status.status == 'Processing' %}
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                            {% elseif order_status.status == 'Processed' %}
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                            {% elseif order_status.status == 'Shipped' %}
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="step0"></li>
                            {% elseif order_status.status == 'Complete' %}
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                                <li class="active step0"></li>
                            {% else %}
                                <li class="step0">{{ order_status.status }}</li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                            {% endif %}

                        </ul>
                    </div>

                    <div class="col-12">
                        <ul id="progressbar-icons" class="text-center">
                            <li class="">
                                <div class="">
                                    <i class="fas fa-pause-circle f-35"></i>
                                    <p class="font-weight-bold">Order<br>Pending</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="">
                                    <i class="fas fa-truck f-35"></i>
                                    <p class="font-weight-bold">Order<br>Processing</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="">
                                    <i class="fas fa-shipping-fast f-35"></i>
                                    <p class="font-weight-bold">Order<br>Processed</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="">
                                    <i class="fas fa-truck-loading f-35"></i>
                                    <p class="font-weight-bold">Order<br>Shipped</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="">
                                    <i class="fas fa-check-double f-35"></i>
                                    <p class="font-weight-bold">Order<br>Complete</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {#{% endif %}#}
</div>
<script>
    /* Search/Track Order */
    $('#searchInputOrder input[name=\'search_order\']').parent().find('button').on('click', function () {
        searchOrder();
    });

    $( "#track-form" ).submit(function( event ) {
        searchOrder();
        event.preventDefault();
    });

    function searchOrder() {
        var url = $('base').attr('href') + 'index.php?route=account/order/track';

        var value = $('#searchInputOrder input[name=\'search_order\']').val();
        if (value) {
            url += '&order_id=' + encodeURIComponent(value);
        }

        location = url;
    }
</script>
{{ footer }}