{{ header }}
<div id="account-order-info" class="bg-light">
    <div class="container">
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div id="content" class="col-sm-12 py-4">{{ content_top }}
                <div>
                    <a href="{{ back_url }}" class="position-absolute"><i class="fas fa-long-arrow-alt-left on-hover f-35"></i></a>
                <h3 class="f-25 font-weight-bold text-uppercase text-center mt-3">
                    {{ heading_title }}
                </h3>
                </div>

                <table class="table table-hover bg-white box-shadow">
                    <thead>
                    <tr>
                        <td class="text-left f-20 font-weight-black" colspan="2">
                            <h3 class="f-20 font-weight-bold text-uppercase my-2">{{ text_order_detail }}</h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left f-15" style="width: 50%;">{% if invoice_no %} <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br />
                            {% endif %} <b>{{ text_order_id }}</b> #{{ order_id }}<br />
                            <b>{{ text_date_added }}</b> {{ date_added }}</td>
                        <td class="text-left f-15" style="width: 50%;">{% if payment_method %} <b>{{ text_payment_method }}</b> {{ payment_method }}<br />
                            {% endif %}
                            {% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }} {% endif %}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-hover bg-white box-shadow">
                    <thead>
                    <tr>
                        <td class="text-left f-20 font-weight-black" style="width: 50%; vertical-align: top;">
                            <h3 class="f-20 font-weight-bold text-uppercase my-2">{{ text_payment_address }}</h3></td>
                        {% if shipping_address %}
                            <td class="text-left f-20 font-weight-black" style="width: 50%; vertical-align: top;">
                                <h3 class="f-20 font-weight-bold text-uppercase my-2">{{ text_shipping_address }}</h3></td>
                        {% endif %} </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left f-15">{{ payment_address }}</td>
                        {% if shipping_address %}
                            <td class="text-left f-15">{{ shipping_address }}</td>
                        {% endif %} </tr>
                    </tbody>
                </table>
                <div class="form-signin card px-3 box-shadow mb-4">
                    <h3 class="f-20 font-weight-bold text-uppercase my-3">Order Price Details</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr class="f-15 font-weight-bold bg-light">
                                <td class="text-left">{{ column_name }}</td>
                                <td class="text-left">{{ column_model }}</td>
                                <td class="text-right">{{ column_quantity }}</td>
                                <td class="text-right">{{ column_price }}</td>
                                <td class="text-right">{{ column_total }}</td>
                                {% if products %}
                                    <td style="width: 20px;"></td>
                                {% endif %} </tr>
                            </thead>
                            <tbody>

                            {% for product in products %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{{ product.link }}" class="text-success">
                                        {{ product.name }}
                                        {% for option in product.option %} <br />
                                            &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}
                                        </a>
                                    </td>
                                    <td class="text-left">{{ product.model }}</td>
                                    <td class="text-right">{{ product.quantity }}</td>
                                    <td class="text-right">{{ product.price }}</td>
                                    <td class="text-right">{{ product.total }}</td>
                                    <td class="text-right" style="white-space: nowrap;">{% if product.reorder %} <a href="{{ product.reorder }}" data-toggle="tooltip" title="{{ button_reorder }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a> {% endif %} <a href="{{ product.return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-danger"><i class="fa fa-reply"></i></a>

                                        {% if product.contact_seller %}
                                        <a href="{{ product.contact_seller }}" data-toggle="tooltip" title="Direct Question To The Store Owner" class="btn btn-success"><i class="fas fa-question"></i></a>
                                        {% endif %}

                                        <button title="Submit Review" data-id="{{ product.product_id }}" class="btn btn-warning btn-rating"><i class="fas fa-star"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for voucher in vouchers %}
                                <tr>
                                    <td class="text-left">{{ voucher.description }}</td>
                                    <td class="text-left"></td>
                                    <td class="text-right">1</td>
                                    <td class="text-right">{{ voucher.amount }}</td>
                                    <td class="text-right">{{ voucher.amount }}</td>
                                    {% if products %}
                                        <td></td>
                                    {% endif %} </tr>
                            {% endfor %}
                            </tbody>

                            <tfoot>

                            {% for total in totals %}
                                <tr>
                                    <td colspan="3" class="border-0"></td>
                                    <td class="text-right border-0"><b>{{ total.title }}</b></td>
                                    <td class="text-right border-0">{{ total.text }}</td>
                                    {% if products %}
                                        <td class="text-right border-0"></td>
                                    {% endif %} </tr>
                            {% endfor %}
                            </tfoot>

                        </table>
                    </div>
                </div>
                {% if comment %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td class="text-left">{{ text_comment }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-left">{{ comment }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
                {% if histories %}
                    <div class="form-signin card px-3 box-shadow mb-4">
                        <h3 class="f-20 font-weight-bold text-uppercase my-3">{{ text_history }}</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr class="f-15 font-weight-bold bg-light">
                                <td class="text-left">{{ column_date_added }}</td>
                                <td class="text-left">{{ column_status }}</td>
                                <td class="text-left">{{ column_comment }}</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% if histories %}
                                {% for history in histories %}
                                    <tr>
                                        <td class="text-left">{{ history.date_added }}</td>
                                        <td class="text-left">{{ history.status }}</td>
                                        <td class="text-left">{{ history.comment }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}
                            </tbody>

                        </table>
                    </div>
                {% endif %}
                {{ content_bottom }}</div>
        </div>
    </div>
</div>

<!-- MODAL : Title Review -->
<div class="modal fade" id="mv-review">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" name="product_id" id="ratingId">
                <h4 class="modal-title">{{ review_title }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" id="form-review">
                    <div class="form-group required">
                        <div class="col-sm-12">
                            <label class="control-label">{{ entry_your_name }}</label>
                            <input name="name" value="{{ author }}" class="form-control" type="text">
                        </div>
                    </div>
                    <!--<div class="form-group required">
                        <div class="col-sm-12">
                            <label class="control-label">{{ entry_title }}</label>
                            <input name="title" value="" class="form-control" type="text">
                        </div>
                    </div>-->
                    <div class="form-group required">
                        <div class="col-sm-12">
                            <label class="control-label">{{ entry_description }}</label>
                            <textarea name="text" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-sm-2">
                            <label class="control-label" style="padding-top: 0;">{{ entry_rating }}</label>
                        </div>
                        <div class="col-sm-10">
                            <span id="rating" class="stars" data-stars="0"></span>
                        </div>
                    </div>
                    <div class="buttons clearfix">
                        <div class="pull-right">
                            <button type="button" id="button-review-submit"
                                    class="btn btn-primary">{{ button_continue }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<script type="text/javascript">
    //open popup
    $('.btn-rating').on('click', function () {
        var productId = $(this).attr("data-id");
        $('#ratingId').val(productId);
        $('#mv-review').modal('show');
    });

    $('#button-review-submit').click(function () {

        var product_id = $('#ratingId').val();
        $.ajax({
            url: 'index.php?route=product/product/write&product_id='+product_id,
            dataType: 'json',
            type: 'post',
            data: $('#mv-review input, #mv-review textarea, #mv-review input[type=\'hidden\']'),
            beforeSend: function () {
                $('#button-review').button('loading');
            },
            complete: function () {
                $('#button-review').button('reset');
            },
            success: function (json) {
                $('#mv-review .alert, #mv-review .text-danger').remove();
                $('#mv-review .form-group').removeClass('has-error');
console.log(json['error']);
                if (json['error']) {
                    $('#mv-review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['error']) {
                    if (json['error']['name']) {
                        $('#mv-review input[name=\'name\']').after('<div class="text-danger">' + json['error']['name'] + '</div>');
                    }

                    // if (json['error']['title']) {
                    //     $('#mv-review input[name=\'title\']').after('<div class="text-danger">' + json['error']['title'] + '</div>');
                    // }

                    if (json['error']['text']) {
                        $('#mv-review textarea[name=\'text\']').after('<div class="text-danger">' + json['error']['text'] + '</div>');
                    }

                    if (json['error']['rating']) {
                        $('#mv-review #rating').after('<div class="text-danger">' + json['error']['rating'] + '</div>');
                    }

                    if (json['error']['warning']) {
                        $('#mv-review .modal-body').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '</div>');
                    }

                    $('#mv-review .text-danger').parent().parent().addClass('has-error');
                }

                if (json['success']) {
                    //location = json['success'];
                    $('#form-review').slideUp();
                    $('#form-review').html('<span style="font-size: 19px; text-align: center;color: green;">'+json['success']+'</span>');
                    setInterval(3000);
                    $('#mv-review').modal('hide ');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ratePicker("#rating");
    });
</script>