{{ header }}
<div id="account-register" class="account-login">
    <div id="content" class="register">{{ content_top }}
        <section class="register">
            <div class="login-form py-5">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-signin">

                    {% if role %}
                        <h3 class="mt-5 mb-4 font-weight-600 text-center f-35">Become a {{ role }}</h3>
                    {% else %}
                        <h3 class="mt-5 mb-4 font-weight-600 text-center f-35">Register</h3>
                    {% endif %}
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i
                                    class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        </div>


                    {% endif %}
                    <fieldset id="account">
                        <div class="row">
                            <div class="form-group required col-md-6"
                                 style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
                                <label class="control-label">{{ entry_customer_group }}</label>
                                <div class="w-100">{% for customer_group in customer_groups %}
                                        {% if customer_group.customer_group_id == customer_group_id %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="customer_group_id"
                                                           value="{{ customer_group.customer_group_id }}"
                                                           checked="checked"/>
                                                    {{ customer_group.name }}</label>
                                            </div>
                                        {% else %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="customer_group_id"
                                                           value="{{ customer_group.customer_group_id }}"/>
                                                    {{ customer_group.name }}</label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            {% if role == 'Delivery partner' %}
                                <div class="form-group required col-md-12">
                                    <label class="control-label" for="select-delivery_type">Please select Delivery
                                        Coverage Area</label>
                                    <div class="w-100">
                                        <select name="delivery_type" id="select-delivery_type" class="form-control">
                                            <option value=""> --- Please Select ---</option>
                                            <option value="1">Within City</option>
                                            <option value="2">Within State</option>
                                            <option value="3">Within Country</option>
                                        </select>
                                        {# <div class="text-danger">{{ error_role }}</div> #}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="form-group required col-md-6">
                                <label class="control-label" for="input-firstname">{{ entry_firstname }}</label>
                                <div class="w-100">
                                    <input type="text" name="firstname" value="{{ firstname }}"
                                           id="input-firstname" class="form-control"/>
                                    {% if error_firstname %}
                                        <div class="text-danger">{{ error_firstname }}</div>
                                    {% endif %} </div>
                            </div>
                            <div class="form-group required col-md-6">
                                <label class="control-label" for="input-lastname">{{ entry_lastname }}</label>
                                <div class="w-100">
                                    <input type="text" name="lastname" value="{{ lastname }}"

                                           id="input-lastname" class="form-control"/>
                                    {% if error_lastname %}
                                        <div class="text-danger">{{ error_lastname }}</div>
                                    {% endif %} </div>
                            </div>

                            <div class="form-group required col-md-6">
                                <label class="control-label" for="input-email">{{ entry_email }}</label>
                                <div class="w-100">
                                    <input type="email" name="email" value="{{ email }}" id="input-email" class="form-control"/>
                                    {% if error_email %}
                                        <div class="text-danger">{{ error_email }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required col-md-6">
                                <label class="control-label" for="input-confirm_email">{{ entry_confirm_email }}</label>
                                <div class="w-100">
                                    <input type="email" name="confirm_email" value="{{ confirm_email }}" id="input-confirm_email" class="form-control"/>
                                    {% if error_confirm_email %}
                                        <div class="text-danger">{{ error_confirm_email }}</div>
                                    {% endif %} </div>
                            </div>

                            <div class="form-group required col-md-6">
                                <label class="control-label" for="input-password">{{ entry_password }}</label>
                                <div class="w-100">
                                    <input type="password" name="password" value="{{ password }}"
                                           id="input-password" class="form-control"/>
                                    {% if error_password %}
                                        <div class="text-danger">{{ error_password }}</div>
                                    {% endif %} </div>
                            </div>

                            <div class="form-group required col-md-6">
                                <label class="control-label" for="input-confirm">{{ entry_confirm }}</label>
                                <div class="w-100">
                                    <input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="form-control"/>
                                    {% if error_confirm %}
                                        <div class="text-danger">{{ error_confirm }}</div>
                                    {% endif %} </div>
                            </div>

                            <div class="form-group required col-md-6">
                                <label class="control-label" for="input-telephone">{{ entry_telephone }}</label>
                                <div class="w-100">
                                    <input type="tel" name="telephone" value="{{ telephone }}" id="input-telephone" class="form-control"/>
                                    {% if error_telephone %}
                                        <div class="text-danger">{{ error_telephone }}</div>
                                    {% endif %} </div>
                            </div>

                            <div class="col-12">
                                {% if text_agree %}
                                    <div class="buttons">
                                        <div class="checkbox">
                                            <div class="form-group form-group-check mb-0">
                                                {% if agree %}
                                                    <input type="checkbox" name="agree" value="1" checked="checked"
                                                           id="agree" class="icheck-input"/>
                                                {% else %}
                                                    <input type="checkbox" name="agree" value="1" id="agree"
                                                           class="icheck-input"/>
                                                {% endif %}
                                                <label for="agree"><span
                                                            class="text-secondary"> {{ text_agree }}</span>
                                                </label>
                                            </div>
                                        </div>
                                        {{ captcha }} &nbsp;
                                        <input type="submit" value="Register"
                                               class="btn btn-primary bg-success rounded-0 border-0 w-100 custom-btn"/>
                                    </div>
                                {% else %}

                                    <div class="buttons">
                                        {{ captcha }}
                                        <input type="submit" value="Register"
                                               class="btn btn-primary bg-success rounded-0 border-0 w-100 custom-btn"/>
                                    </div>
                                {% endif %}

                                <div class="w-100 d-inline-block my-3">
                                    <p style="font-size: 0.7rem;" class="text-secondary">Already have an Account?<a
                                                href="{{ login }}"
                                                class="text-success"> Login </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </fieldset>


                </form>
            </div>
        </section>
        {{ content_bottom }}</div>
</div>
<script type="text/javascript"><!--
    // Sort the custom fields
    $('#account .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
            $('#account .form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') == $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#account .form-group').length) {
            $('#account .form-group:first').before(this);
        }
    });

    $('input[name=\'customer_group_id\']').on('change', function () {
        $.ajax({
            url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
            dataType: 'json',
            success: function (json) {
                $('.custom-field').hide();
                $('.custom-field').removeClass('required');

                for (i = 0; i < json.length; i++) {
                    custom_field = json[i];

                    $('#custom-field' + custom_field['custom_field_id']).show();

                    if (custom_field['required']) {
                        $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('input[name=\'customer_group_id\']:checked').trigger('change');
    //--></script>
<script type="text/javascript"><!--
    $('button[id^=\'button-custom-field\']').on('click', function () {
        var element = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(element).button('loading');
                    },
                    complete: function () {
                        $(element).button('reset');
                    },
                    success: function (json) {
                        $(element).parent().find('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(element).parent().find('input').val(json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });
    //--></script>
{{ footer }} 