{{ header }}
<div id="account-transaction" class="bg-light main-body">
  <div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
  <div class="row">
    <div id="content" class="col-sm-12 pb-5">{{ content_top }}
      <div class="form-signin card px-4 box-shadow">
        <div>
        {#<a href='javascript:history.back(1);' class="position-absolute f-35"><i class="fas fa-long-arrow-alt-left on-hover"></i></a>#}
      <h3 class="f-20 font-weight-bold text-uppercase text-center mt-3">{{ heading_title }}</h3>
        </div>
      <p>{{ text_total }} <b>{{ total }}</b>.</p>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="bg-light">
            <tr>
              <td class="text-left">{{ column_date_added }}</td>
              <td class="text-left">{{ column_description }}</td>
              <td class="text-right">{{ column_amount }}</td>
            </tr>
          </thead>
          <tbody>
          
          {% if transactions %}
          {% for transaction in transactions %}
          <tr>
            <td class="text-left">{{ transaction.date_added }}</td>
            <td class="text-left">{{ transaction.description }}</td>
            <td class="text-right">{{ transaction.amount }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="5">{{ text_empty }}</td>
          </tr>
          {% endif %}
            </tbody>
          
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {#<div class="buttons clearfix mb-3 ">#}
        {#<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
      {#</div>#}
      {{ content_bottom }}</div>
    </div>
  </div>
  </div>
</div>
{{ footer }}