{{ header }}
<div id="account-wishlist" class="bg-light">
    <div class="container">
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>



        {% endif %}
        <div class="row">
            {{ profile_column_left }}
            <div id="content" class="col-12 col-md-9 col-lg-9 py-5">

                <div class="form-signin card px-4 box-shadow">
                    <h3 class="f-20 font-weight-bold text-uppercase mt-3">
                        {{ heading_title }}
                    </h3>
                    <hr style="margin: 15px -25px">

                    <div class="row">
                        {% if products %}
                            {#<div class="table-responsive">#}
                            {#<table class="table table-bordered table-hover">#}
                            {#<thead>#}
                            {#<tr>#}
                            {#<td class="text-center">{{ column_image }}</td>#}
                            {#<td class="text-left">{{ column_name }}</td>#}
                            {#<td class="text-left">{{ column_model }}</td>#}
                            {#<td class="text-right">{{ column_stock }}</td>#}
                            {#<td class="text-right">{{ column_price }}</td>#}
                            {#<td class="text-right">{{ column_action }}</td>#}
                            {#</tr>#}
                            {#</thead>#}
                            {#<tbody>#}

                            {#{% for product in products %}#}
                            {#<tr>#}
                            {#<td class="text-center">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>{% endif %}</td>#}
                            {#<td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a></td>#}
                            {#<td class="text-left">{{ product.model }}</td>#}
                            {#<td class="text-right">{{ product.stock }}</td>#}
                            {#<td class="text-right">{% if product.price %}#}
                            {#<div class="price"> {% if not product.special %}#}
                            {#{{ product.price }}#}
                            {#{% else %} <b>{{ product.special }}</b> <s>{{ product.price }}</s> {% endif %} </div>#}
                            {#{% endif %}</td>#}
                            {#<td class="text-right"><button type="button" onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>#}
                            {#<a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-times"></i></a></td>#}
                            {#</tr>#}
                            {#{% endfor %}#}
                            {#</tbody>#}

                            {#</table>#}
                            {#</div>#}

                            {% for product in products %}
                                <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4">
                                    <div class="product-thumb transition">
                                        <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}"
                                                                                             alt="{{ product.name }}"
                                                                                             title="{{ product.name }}"
                                                                                             class="img-fluid"/></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="{{ product.href }}" class="f-22 font-weight-bold">{{ product.name }}</a></h4>
                                            {% if product.rating %}
                                                <div class="rating">
                                                    {% for i in 1..5 %}
                                                        {% if product.rating < i %}
                                                            <span class="fa fa-stack">
                                                            <i
                                                                    class="fa fa-star-o fa-stack-2x text-gold f-20"></i>
                                                        </span>
                                                        {% else %}
                                                            <span class="fa fa-stack"><i
                                                                        class="fa fa-star fa-stack-2x text-gold f-20"></i><i
                                                                        class="fa fa-star-o fa-stack-2x text-gold f-20"></i></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            {% if product.price %}
                                                <p class="price m-0 text-success font-weight-bold f-20">
                                                    {% if not product.special %}
                                                        {{ product.price }}
                                                    {% else %}
                                                        <span class="price-new">{{ product.special }}</span>
                                                        {#<span#}
                                                        {#class="price-old">{{ product.price }}</span>#}
                                                    {% endif %}
                                                    {#{% if product.tax %}#}
                                                    {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                                                    {#{% endif %}#}
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="button-group">
                                            <button type="button" onclick="cart.add('{{ product.product_id }}');"
                                                    data-toggle="tooltip" title="{{ button_cart }}" class="btn f-13 pl-0 text-left on-hover">Add To Cart</button>
                                            <a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}"
                                               class="f-13 on-hover">Remove From Favorite</a>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        {% else %}
                            <p>{{ text_empty }}</p>
                        {% endif %}
                    </div>
                    {{ content_bottom }}
                </div></div>
        </div>
    </div>
</div>
{{ footer }}


{#<script>#}
    {#$.notify({#}
        {#// options#}
        {#icon: 'glyphicon glyphicon-warning-sign',#}
        {#title: 'Bootstrap notify',#}
        {#message: "{{ success }}"#}
    {#},{#}
        {#// settings#}
        {#element: 'body',#}
        {#position: null,#}
        {#type: "info",#}
        {#allow_dismiss: true,#}
        {#newest_on_top: false,#}
        {#showProgressbar: false,#}
        {#placement: {#}
            {#from: "bottom",#}
            {#align: "left"#}
        {#},#}
        {#offset: 20,#}
        {#spacing: 10,#}
        {#z_index: 1031,#}
        {#delay: 5000,#}
        {#timer: 1000,#}
        {#url_target: '_blank',#}
        {#mouse_over: null,#}
        {#animate: {#}
            {#enter: 'animated fadeInDown',#}
            {#exit: 'animated fadeOutUp'#}
        {#},#}
        {#onShow: null,#}
        {#onShown: null,#}
        {#onClose: null,#}
        {#onClosed: null,#}
        {#icon_type: 'class',#}
        {#template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +#}
            {#'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +#}
            {#'<span data-notify="icon"></span> ' +#}
            {#'<span data-notify="title">{1}</span> ' +#}
            {#'<span data-notify="message">{2}</span>' +#}
            {#'<div class="progress" data-notify="progressbar">' +#}
            {#'<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +#}
            {#'</div>' +#}
            {#'<a href="{3}" target="{4}" data-notify="url"></a>' +#}
            {#'</div>'#}
    {#});#}

{#</script>#}