{{ header }}
<div id="error-not-found" class="">
    {#<div class="row">{{ column_left }}#}
        {#{% if column_left and column_right %}#}
            {#{% set class = 'col-sm-6' %}#}
        {#{% elseif column_left or column_right %}#}
            {#{% set class = 'col-sm-9' %}#}
        {#{% else %}#}
            {#{% set class = 'col-sm-12' %}#}
        {#{% endif %}#}
        {#<div id="content" class="{{ class }}">{{ content_top }}#}
            {#<h1>{{ heading_title }}</h1>#}
            {#<p>{{ text_error }}</p>#}
            {#<div class="buttons clearfix">#}
                {#<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
            {#</div>#}
            {#{{ content_bottom }}</div>#}
    {#</div>#}
    <!-- about -->

    <!-- end about -->

<div class="text-center container mt-3">
    <a href="{{ continue }}">
    <img src="catalog/view/theme/champion/image/404-1.png" alt="" class="img-fluid" width="450">
    </a>
</div>
    <div class="text-center container mb-5">
        <a href="{{ continue }}" class="btn btn-primary p-3 text-center">Visit Home Page</a>
    </div>


</div>


{{ footer }}
