{% if currencies|length > 1 %}
    <div class="">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency" class="text-center">
            <div class="btn-group w-100">
                <button class="btn btn-link select text-left form-control rounded-0 justify-content-between"
                        data-toggle="dropdown" style="height: 38px">
                    <div class="d-inline-block"> {% for currency in currencies %}
                            {% if currency.symbol_left and currency.code == code %}
                                <strong>{{ currency.symbol_left }}</strong>
                            {% elseif currency.symbol_right and currency.code == code %}
                                <strong>{{ currency.symbol_right }}</strong>
                            {% endif %}
                        {% endfor %}
                        <span class="hidden-xs hidden-sm hidden-md">{{ text_currency }}</span>
                    </div>


                    <div class="d-inline-block">
                        {#<i class="fa fa-caret-down ml-4"></i>#}
                    </div>
                    </button>
                <ul class="dropdown-menu">
                    {% for currency in currencies %}
                        {% if currency.symbol_left %}
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button"
                                        name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</button>
                            </li>
                        {% else %}
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button"
                                        name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <input type="hidden" name="code" value=""/>
            <input type="hidden" name="redirect" value="{{ redirect }}"/>
        </form>
    </div>
{% endif %}



