<section class="top-headerbar bg-success pb-1">
    <div class="container address_container">

        <nav class="nav d-flex justify-content-between">
            <div class="">
                <h3 class="f-13 text-white font-weight-medium">
                    Choose your country & delivery location
                </h3>
                {% if loggedInCountry %}
                <h3 class="f-13 text-white font-weight-medium"><i class="fa fa-map-marker"></i> Deliver
                    To {{ loggedInCountry }}</h3>
                {% else %}
            </div>
            <div class="select">
                <select name="country_id" id="input-country" class="form-control rounded-0">
                    <option value="">{{ text_select }}</option>
                    {% for country in countries %}
                        {% if country.country_id == country_id %}
                            <option value="{{ country.country_id }}"
                                    selected="selected">{{ country.name }}</option>
                        {% else %}
                            <option value="{{ country.country_id }}">{{ country.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if error_country %}
                    <div class="text-danger">{{ error_country }}</div>
                {% endif %}
            </div>
            <div class="select">
                <select name="zone_id" id="input-zone" class="form-control rounded-0">
                </select>
                {% if error_zone %}
                    <div class="text-danger">{{ error_zone }}</div>
                {% endif %}
            </div>
            <div class="text-left position-relative btn-border-div">
                <a class="btn bg-primary text-white w-100 f-13 rounded-0" href="#" role="button"
                   style="height: 34px;">CONFIRM</a>
            </div>

            {% endif %}
        </nav>
        <p class="text-white text-center m-0" style="font-size: 12px;">Note : The product has been listed as per the
            chosen location.</p>
    </div>
</section>

{{ header }}
{#<div id="common-home" class="container">#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}

<div id="common-home" class="container-fluid">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12 p-0' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
        {{ column_right }}</div>
</div>

{{ footer }}

