{{ header }}
<div id="common-home" class="container-fluid">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12 p-0' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-9711fefc-bc8b-4712-9285-e36e7d0ec1d2"></div>
{{ footer }}
