{{ header }}
<div id="common-home" class="container-fluid">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12 p-0' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
        {{ column_right }}</div>
</div>


{#<div id="sidebar"><a class="btn_close" onclick="closeNav()"> &times;</a>#}
    {#<div class="title-information">#}
        {#<h4>{{ leftMsgTitle }}</h4>#}

        {#<p>{{ leftMsgDesc }}</p>#}
    {#</div>#}
    {#<ul class="nav_wrapper">#}
        {#<li><a href="">What we do + </a>#}
            {#<ul class="nav_item">#}
                {#<li><a href="">Our work</a></li>#}
                {#<li> <a href="">Our work</a></li>#}
            {#</ul>#}
        {#</li>#}
        {#<li> <a href="">How we work</a></li>#}
        {#<li> <a href="">Whate we're up to +</a></li>#}
        {#<li> <a href="">Join our team +</a></li>#}
        {#<li><a href="">Contact us</a></li>#}
    {#</ul>#}
{#</div>#}
{#<div class="main-side">#}
    {#<div class="menu_bg"><span id="menu" onclick="openNav()">&#9776;</span></div>#}
{#</div>#}




<div class="info-area">
<nav class="main-menu">
    <ul>
        <li class="title">
                        <span class="title-text"> {{ leftMsgTitle }} </span>

        </li>
        <li class="description">
            <span class="description-text"> {{ leftMsgDesc }} </span>
        </li>
    </ul>


</nav>
    <span class="left-menu-icon"><i class="fas fa-info"></i></span>
</div>

{#<script>#}
    {#function openNav() {#}
        {#document.getElementById("sidebar").style.width = "300px";#}
    {#}#}

    {#function closeNav() {#}
        {#document.getElementById("sidebar").style.width = "0px";#}

    {#}#}


{#</script>#}




{#<script src="https://apps.elfsight.com/p/platform.js" defer></script>#}
{#<div class="elfsight-app-9711fefc-bc8b-4712-9285-e36e7d0ec1d2"></div>#}
{{ footer }}