{% if categories %}
    {% for category in categories %}
        {% if category.children %}
            <li class="dropdown nav-mega">

                <a href="#" class="" data-toggle="dropdown">
                    <div class="display-middle-block"><span>{{ category.name }}</span></div>
                </a>


                <ul class="dropdown-menu mega-menu">
                    <li>
                        {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}

                            {% if moreCategories %}
                                <ul class="row media-list span4">
                                    {% for child in category.children %}
                                        {% if child.name %}
                                            <li class="col-md-3 media">
                                                <div class="media-body">
                                                    <h3 class="media-heading f-15"><a href="{{ child.href }}"
                                                                                      class="f-15 font-weight-bold">{{ child.name }}</a>
                                                    </h3>
                                                    <hr>
                                                    <div class="list-unstyled row">
                                                        {% for subCategory in child.subCategories %}
                                                            <div class="col-md-6"><a href="{{ subCategory.href }}" class="f-12 text-success">{{ subCategory.name }}</a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <div class="text-right"><a href="{{ more_category }}" class="f-12 on-hover">View all Categories</a>
                        </div>
                    </li>
                </ul>
            </li>
        {% else %}

            <a class="" href="{{ category.href }}">

                <li class="nav-item"> <div class="display-middle-block"> <span>{{ category.name }}</span></div>

                </li>
                            </a>

        {% endif %}
    {% endfor %}

    {#<a class="f-12" href="{{ more_category }}"><li class="nav-item py-2 bg-primary text-white" style="line-height: 12px;">MORE</li></a>#}

    <li class="dropdown nav-mega bg-color">
        <a href="#" class="text-white" data-toggle="dropdown">
            <div class="display-middle-block"><span>
                    MORE </span> </div>
        </a>
        <ul class="dropdown-menu mega-menu">
            <li>
                <h3 class="text-center f-20 font-weight-bold text-uppercase mt-3">MORE CATEGORIES</h3>
                {% if moreCategories %}
                    <ul class="row media-list span4">
                        {% for moreCategory in moreCategories %}
                            {% if moreCategory.subCategories %}
                                <li class="col-md-3 media">
                                    <div class="media-body">
                                        <h3 class="media-heading f-15"><a href="{{ moreCategory.href }}"
                                                                          class="f-15 font-weight-bold">{{ moreCategory.name }}</a>
                                        </h3>
                                        <hr>
                                        <div class="list-unstyled row">
                                            {% for subCategory in moreCategory.subCategories %}
                                                <div class="col-md-6">
                                                    <a href="{{ subCategory.href }}" class="f-12 text-success">{{ subCategory.name }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="text-right"><a href="{{ more_category }}" class="f-12 on-hover">View all Categories</a>
                </div>
            </li>
        </ul>
    </li>
    <a class="text-white" href="{{ sale_offer_link }}">
        <li class="nav-item" style="background-color: red;"><div class="display-middle-block"> <span>SALE</span></div></li>
    </a>
{% endif %}