<div class="col-12 col-md-4 col-lg-4">
    <div class="card mt-5 mb-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-3 m-auto text-center">
                <img src="{{ image_url }}" class="rounded-circle" width="58" height="58" alt="avatar">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <p class="card-text mb-3">Hello</p>
                    <h5 class="card-title f-15">{{ firstname }} {{ lastname }}</h5></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="accordion" class="accordion">
            <div class="card mb-0">
                <div class="p-3 bg-white" data-toggle="collapse" href="#collapseOne">
                    <img src="catalog/view/theme/champion/image/Dashboard.svg" alt="" class="mr-2">
                    <a class="card-title text-uppercase" href="{{ account }}">Dashboard</a>
                </div>
                <hr class="m-0">

                <div class="p-3 card-header collapsed bg-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <img src="catalog/view/theme/champion/image/Order Box (2).svg" alt="" class="mr-2">
                    <a class="card-title text-uppercase">
                        My Order
                    </a>
                </div>
                <hr class="m-0">
                <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                    <ul class="list-unstyled ml-4">
                        <li class="my-3"><a href="{{ order }}">{{ text_order }}</a></li>
                        <li class="my-3"><a href="{{ download }}">{{ text_download }}</a></li>
                        {% if reward %}
                            <li class="my-3"><a href="{{ reward }}">{{ text_reward }}</a></li>
                        {% endif %}
                        <li class="my-3"><a href="{{ return }}">{{ text_return }}</a></li>
                        <li class="my-3"><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                        <li class="my-3"><a href="{{ recurring }}">{{ text_recurring }}</a></li>
                    </ul>
                </div>
                <hr class="m-0">
                <div class="p-3 card-header collapsed bg-white" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseThree">
                    <img src="catalog/view/theme/champion/image/Profile.svg" alt="" class="mr-2">
                    <a class="card-title text-uppercase">
                        ACCOUNT SETTINGS
                    </a>
                </div>
                <hr class="m-0">
                <div id="collapseThree" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-unstyled ml-4">
                            <li class="my-3"><a href="{{ edit }}">Profile Information</a></li>
                            <li class="my-3"><a href="{{ address }}">{{ text_address }}</a></li>
                            <li class="my-3"><a href="{{ change_password }}">Change Password</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="m-0">
                <div class="p-3 bg-white" href="">
                    <img src="catalog/view/theme/champion/image/Heart.svg" alt="" class="mr-2">
                    <a href="{{ my_wishlist }}" class="card-title text-uppercase">{{ text_wishlist }}</a>
                </div>
                <hr class="m-0">
                <div class="p-3 bg-white" href="">
                    <img src="catalog/view/theme/champion/image/Logout.svg" alt="" class="mr-2">
                    <a href="{{ logout }}" class="card-title text-uppercase">
                        Logout
                    </a>
                </div>
                <hr class="m-0">
            </div>
        </div>
    </div>
</div>