<div id="profile-column-left" class="col-12 col-lg-3 mb-md-5">
        <div class="card mt-5 mb-4" style="max-width: 540px;">
            <div class="row no-gutters box-shadow">
                <div class="col-md-3 m-auto text-center">
                    <img src="{{ image_url }}" class="rounded-circle" width="58" height="58" alt="avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body py-2 px-1">
                        <p class="card-text mb-1">Hello</p>
                        <h5 class="card-title f-15 mb-1">{{ firstname }} {{ lastname }}</h5></div>
                </div>
            </div>
        </div>
    <div class="account-account box-shadow" >
        <div id="accordion" class="accordion">
            <div class="card mb-0">
                <a class="card-title text-uppercase mb-0" href="{{ account }}">
                    <div class="p-3 bg-white" data-toggle="collapse" href="#collapseOne">
                    <i class="fas fa-tachometer-alt text-success mr-2 f-22"></i>
                    Dashboard
                </div></a>
                <hr class="m-0">

                <div class="card-header collapsed bg-white p-3" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <i class="fas fa-shopping-bag text-success mr-2 f-22"></i>
                    <a class="card-title text-uppercase">
                        My Order
                    </a>
                </div>

                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <ul class="list-unstyled m-0">
                        <a href="{{ order }}"><li class="pl-4 py-2">{{ text_order }}</li></a>
                        <a href="{{ download }}"><li class="pl-4 py-2">{{ text_download }}</li></a>
                        {% if reward %}
                            <a href="{{ reward }}"><li class="pl-4 py-2">{{ text_reward }}</li></a>
                        {% endif %}
                        <a href="{{ return }}"><li class="pl-4 py-2">{{ text_return }}</li></a>
                        <a href="{{ transaction }}"><li class="pl-4 py-2">{{ text_transaction }}</li></a>
                        <a href="{{ recurring }}"><li class="pl-4 py-2">{{ text_recurring }}</li></a>
                    </ul>
                </div>
                <hr class="m-0">
                <div class="card-header collapsed bg-white p-3" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseThree">
                    <i class="fas fa-cogs text-success mr-2 f-22"></i>
                    <a class="card-title text-uppercase">
                        ACCOUNT SETTINGS
                    </a>
                </div>

                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <ul class="list-unstyled m-0">
                        <a href="{{ edit }}"><li class="pl-4 py-2"><i class="far fa-address-card"></i> Profile Information</li></a>
                        <a href="{{ address }}"><li class="pl-4 py-2"><i class="far fa-address-book"></i> Manage Address</li></a>
                        <a href="{{ change_password }}"><li class="pl-4 py-2"><i class="fas fa-unlock-alt"></i> Change Password</li></a>
                    </ul>
                </div>
                {% if role == 'seller' %}
                <hr class="m-0">
                <div class="card-header collapsed bg-white p-3" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseFour">
                    <i class="fa fa-user-circle text-success mr-2 f-22"></i>
                    <a class="card-title text-uppercase">
                        Business Owner
                    </a>
                </div>

                <div id="collapseFour" class="collapse" data-parent="#accordion">

                    <ul class="list-unstyled m-0">
                        <a href="{{ seller_dashboard }}"><li class="pl-5 py-2"><i class="fa fa-tachometer"></i> {{ text_dashboard }}</li></a>
                        <a href="{{ seller_profile }}"><li class="pl-5 py-2"><i class="fa fa-user"></i> {{ text_profile }}</li></a>
                        <li class="pl-5 py-2"><a href="{{ seller_product }}"><i class="fa fa-briefcase"></i> {{ text_product }}</a></li>
                        <a href="{{ seller_orders }}"><li class="pl-5 py-2"><i class="fa fa-shopping-cart"></i> {{ text_orders }}</li></a>
                        <a href="{{ seller_reviews }}"><li class="pl-5 py-2"><i class="fa fa-comments"></i> {{ text_reviews }}</li></a>
                        <a href="{{ seller_commission }}"><li class="pl-5 py-2"><i class="fa fa-money"></i> {{ text_commission }}</li></a>
                        <a href="{{ seller_payment }}"><li class="pl-5 py-2"><i class="fa fa-dollar"></i> {{ text_payment }}</li></a>
                        <a href="{{ seller_information_section }}"><li class="pl-5 py-2"><i class="fa fa-tag"></i> {{ text_information_section }}</li></a>
                        <a href="{{ seller_store_info }}"><li class="pl-5 py-2"><i class="fa fa-info-circle"></i> {{ text_store_information }}</li></a>
                        <a href="{{ seller_store_setting }}"><li class="pl-5 py-2"><i class="fa fa-cog"></i> {{ text_store_setting }}</li></a>
                        <a href="{{ seller_visit_store }}"><li class="pl-5 py-2"><i class="fa fa-external-link"></i> {{ text_visit_store }}</li></a>
                        <a href="{{ seller_enquiries }}"><li class="pl-5 py-2"><i class="fas fa-question-circle"></i> {{ text_enquiries }}</li></a>
                        <a href="{{ seller_messages }}"><li class="pl-5 py-2"><i class="fa fa-comments-o"></i> {{ text_messages }}</li></a>
                        <a href="{{ customer_messages }}"><li class="pl-5 py-2"><i class="fa fa-comments-o"></i> {{ text_customer_messages }}</li></a>
                    </ul>

                </div>
                {% endif %}
                <hr class="m-0">
                <a href="{{ my_wishlist }}" class="card-title text-uppercase mb-0">
                    <div class="p-3 bg-white" href="">
                    <i class="fas fa-heart text-success mr-2 f-20"></i>
                    Wish List
                </div></a>
                <hr class="m-0">
                <a href="{{ logout }}" class="card-title text-uppercase mb-0">
                <div class="p-3 bg-white" href="">
                    <i class="fas fa-sign-out-alt text-success mr-2 f-20"></i>

                        Logout

                </div>
                </a>
                <hr class="m-0">
            </div>
        </div>
    </div>
</div>