{{ header }}
<section id="common-success" class="account-login">
    <div class="login-form forgot-password my-5 py-5" style="background-image: none;">
        <form class="form-horizontal form-signin pt-5">
            <h3 class="f-25 font-weight-bold text-uppercase mt-3">{{ heading_title }}</h3>
            {{ text_message }}
            <div class="buttons">
               <a href="{{ continue }}" class="btn btn-success w-100">{{ button_continue }}</a>
            </div>
        </form>
    </div>
</section>
{{ footer }}