{{ header }}
<div id="product-category" class="container top-collection mt-5">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            {% if products %}
                <div class="row">
                    <div class="col-md-6 col-sm-4">
                        <div class="form-group">143 Search result in your category
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 hidden-xs">
                        <div class="btn-group btn-group-sm">
                            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
                            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group input-group input-group-sm">
                            <label class="input-group-addon mr-3" style="line-height: 2.5;"
                                   for="input-sort">{{ text_sort }}</label>
                            <select id="input-sort" class="form-control" style="height: 40px"
                                    onchange="location = this.value;">
                                {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                        <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                    {% else %}
                                        <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row pt-4">
                    {% for product in products %}
                        <div class="product-list col-xs-12 col-sm-12 px-1 mb-4 product-layout">
                            <div class="product-card position-relative p-3">
                                <div class="wish-list text-right position-absolute"
                                     style="right:-5px;top: -5px;font-size: 22px;">
                                    {#<i class="fas fa-heart" aria-hidden="true"></i>#}
                                    <button class="border-0" type="button" data-toggle="tooltip"
                                            title="{{ button_wishlist }}"
                                            onclick="wishlist.add('{{ product.product_id }}');"
                                            style="background-color: transparent;"><i
                                                class="fa fa-heart"></i>
                                    </button>
                                </div>
                                <a class="card-img-top d-block overflow-hidden h-100 w-100" href="{{ product.href }}">
                                    <img
                                            src="{{ product.thumb }}"
                                            alt="{{ product.name }}"
                                            title="{{ product.name }}" class="h-100 w-100">
                                </a>
                                <div class="card-body">
                                    <h4 class="product-title text-truncate"><a href="{{ product.href }}"
                                                                               class="f-15 font-weight-bold text-primary ">{{ product.name }}</a>
                                    </h4>
                                    <p class="mb-0">{{ product.description }}</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="star-rating d-inline-block rating">
                                            {% if product.rating %}
                                                <div class="rating">
                                                    {% for i in 1..5 %}
                                                        {% if product.rating < i %}
                                                            <span class="fa fa-stack">
                                                            <i
                                                                    class="fa fa-star-o fa-stack-2x text-gold f-15"></i>
                                                        </span>
                                                        {% else %}
                                                            <span class="fa fa-stack"><i
                                                                        class="fa fa-star fa-stack-2x text-gold f-15"></i><i
                                                                        class="fa fa-star-o fa-stack-2x text-gold f-15"></i></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if product.price %}
                                        <div class="product-price text-primary font-weight-bold f-15">
                                            {% if not product.special %}
                                                <span class="price-new text-success font-weight-bold mr-2">
                                                {{ product.price }}
                                            </span>
                                            {% else %}
                                                <span class="price-new text-success font-weight-bold">{{ product.special }}</span>
                                                <strike><span
                                                            class="price-old text-accent font-weight-normal f-12">{{ product.price }}</span></strike>
                                            {% endif %}
                                            {#{% if product.tax %}#}
                                            {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                                            {#{% endif %}#}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            {% endif %}
            {% if not categories and not products %}
                <p>{{ text_empty }}</p>
                <div class="buttons">
                    <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
                    </div>
                </div>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>

<div id="category">
    {{ category }}
</div>
{{ footer }}
