{{ header }}

<div id="product-manufacturer" class="bg-light">
    <div class="container">
        <div class="row">
            <div id="content" class="col-sm-12 py-5">{{ content_top }}

                <div class="form-signin card px-4 box-shadow">
                    <div>
                        <a href="{{ back_url }}" class="position-absolute f-35"><i
                                    class="fas fa-long-arrow-alt-left on-hover"></i></a>


                        <h3 class="f-20 font-weight-bold text-uppercase text-center mt-3">
                            {{ heading_title }}
                        </h3>
                    </div>
                    <hr style="margin: 15px -25px">
                    {% if categories %}
                        <p>
                            <strong>
                                {{ text_index }}
                            </strong>
                            {% for category in categories %}
                                &nbsp;&nbsp;&nbsp;<a
                                        href="index.php?route=product/manufacturer#{{ category.name }}">
                                {{ category.name }}
                            </a>
                            {% endfor %}
                        </p>
                        <div class="row">
                        {% for category in categories %}

                            <div class="col-md-4 mb-5 manufacturer-col">
                            <h2 id="{{ category.name }}">
                                {{ category.name }}
                            </h2>
                            {% if category.manufacturer %}
                                {% for manufacturers in category.manufacturer|batch(4) %}
                                    <div class="row">
                                        {% for manufacturer in manufacturers %}
                                            <div class="col-sm-6"><a
                                                        href="{{ manufacturer.href }}">{{ manufacturer.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </div>

                        {% endfor %}
                        </div>
                    {% else %}

                        <p>{{ text_empty }}</p>

                        <div class="buttons clearfix">
                            <div class="pull-right"><a href="{{ continue }}"
                                                       class="btn btn-primary">{{ button_continue }}</a>
                            </div>
                        </div>
                    {% endif %}
                   </div>
               </div>
        </div>
    </div>
</div>
{{ footer }}