{#{% if reviews %}#}
{#{% for review in reviews %}#}
{#<table class="table table-striped table-bordered">#}
  {#<tr>#}
    {#<td style="width: 50%;"><strong>{{ review.author }}</strong></td>#}
    {#<td class="text-right">{{ review.date_added }}</td>#}
  {#</tr>#}
  {#<tr>#}
    {#<td colspan="2"><p>{{ review.text }}</p>#}
      {#{% for i in 1..5 %}#}
      {#{% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}#}
      {#{% endfor %}</td>#}
  {#</tr>#}
{#</table>#}
{#{% endfor %}#}
{#<div class="text-right">{{ pagination }}</div>#}
{#{% else %}#}
{#<p>{{ text_no_reviews }}</p>#}
{#{% endif %}#}


{% if reviews %}
    {% for review in reviews %}
        <div class="d-flex justify-content-between border-bottom m-2">
            <div class="rating-details w-80">
                <div class="review-user-pic d-inline-block align-top">
                    <img src="images/datingprofile2-900x600.jpg" alt="" class="rounded-circle"
                         style="width: 50px; height: 50px;">
                </div>
                <div class="d-inline-block">
                    <h6 class="user-rating-name" style="font-weight: 600;">
                        {{ review.author }}
                    </h6>
                    <p style="color: #BBB7B7; font-size: 0.8125rem; font-weight: 400;">
                        {{ review.date_added }}
                    </p>
                    <p style="color: #272727; font-size: 0.9375rem; font-weight: 400;">
                        <em> {{ review.text }}</em>
                    </p>
                </div>

            </div>
            <div class="star-rating d-inline-block mb-4 mt-3">
                {% for i in 1..5 %}
                    {% if review.rating < i %}
                        <span class="fa fa-stack">
                        <i class="fa fa-star-o fa-stack-2x text-gold" style="font-size: 20px"></i>
                        </span>
                    {% else %}
                        <span class="fa fa-stack">
                            <i class="fa fa-star fa-stack-2x text-gold" style="font-size: 20px"></i>
                            <i class="fa fa-star-o fa-stack-2x text-gold" style="font-size: 20px"></i>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="text-right">{{ pagination }}</div>
{% else %}
    <p>{{ text_no_reviews }}</p>
{% endif %}

