{{ header }}
<div id="product-search" class="container top-collection">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">{{ content_top }}
            <h3 class="text-primary f-35 text-center my-4">{{ heading_title }}</h3>
            {% if products %}
                <div class="row justify-content-between">
                    <div class="col-3">
                        <div class="form-group input-group input-group-sm">
                            <label class="input-group-addon mr-3" for="input-sort">{{ text_sort }}</label>
                            <select id="input-sort" class="form-control" onchange="location = this.value;">

                                {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}

                                        <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>

                                    {% else %}

                                        <option value="{{ sorts.href }}">{{ sorts.text }}</option>

                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group input-group input-group-sm">
                            <label class="input-group-addon mr-3" for="input-limit">{{ text_limit }}</label>
                            <select id="input-limit" class="form-control" onchange="location = this.value;">

                                {% for limits in limits %}
                                    {% if limits.value == limit %}

                                        <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>

                                    {% else %}

                                        <option value="{{ limits.href }}">{{ limits.text }}</option>

                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-3 col-md-3 col-sm-6 px-1 mb-4 product-layout">
                            <div class="product-card position-relative p-3">
                                <div class="wish-list text-right position-absolute" style="right:-5px;top: -5px;font-size: 22px;">
                                    {#<i class="fas fa-heart" aria-hidden="true"></i>#}
                                    <button class="border-0" type="button" data-toggle="tooltip"
                                            title="{{ button_wishlist }}"
                                            onclick="wishlist.add('{{ product.product_id }}');" style="background-color: transparent;"><i
                                                class="fa fa-heart"></i>
                                    </button>
                                </div>
                                <a class="card-img-top d-block overflow-hidden text-center"
                                   href="{{ product.href }}"><img
                                            src="{{ product.thumb }}"
                                            alt="{{ product.name }}"
                                            title="{{ product.name }}" class="img-fluid"></a>
                                <div class="card-body">
                                    <h4 class="product-title text-truncate"><a href="{{ product.href }}"
                                                                 class="f-15 font-weight-bold text-primary ">{{ product.name }}</a>
                                    </h4>
                                    <p class="mb-0">{{ product.description }}</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="star-rating d-inline-block rating">
                                            {% if product.rating %}
                                                <div class="rating">
                                                    {% for i in 1..5 %}
                                                        {% if product.rating < i %}
                                                            <span class="fa fa-stack">
                                                            <i
                                                                    class="fa fa-star-o fa-stack-2x text-gold f-15" ></i>
                                                        </span>
                                                        {% else %}
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x text-gold f-15"></i><i
                                                                        class="fa fa-star-o fa-stack-2x text-gold f-15"></i></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if product.price %}
                                        <div class="product-price text-primary font-weight-bold f-15">
                                            {% if not product.special %}
                                                <span class="price-new text-success font-weight-bold mr-2">
                                                {{ product.price }}
                                            </span>
                                            {% else %}
                                                <span class="price-new text-success font-weight-bold">{{ product.special }}</span> <strike><span
                                                        class="price-old text-accent font-weight-normal f-12">{{ product.price }}</span></strike>
                                            {% endif %}
                                            {#{% if product.tax %}#}
                                            {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                                            {#{% endif %}#}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            {% else %}
                <p>{{ text_empty }}</p>
                <div class="buttons">
                    <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
                    </div>
                </div>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}