<section class="home-categories mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ sellers_href }}">
                <div class="">
                    <img src="{{ RetailerBanners.image }}" alt="" class="img-fluid">
                    <div class="">
                        <h6 class="f-20 card-text font-weight-bold text-primary mb-0">{{ RetailerBanners.title }}</h6>
                        <p>
                            {{ count_retailers }} Sellers
                        </p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <div class="">
                    <img src="{{ brand_thumb }}" alt="" class="img-fluid">
                    <div class="">
                        <h6 class="f-20 card-text font-weight-bold text-primary mb-0">Designer Brands</h6>
                        <p class="f-14"><a href="{{ path_brands }}"> {{ count_brands }} Items</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <img src="{{ men_thumb }}" alt="" class="img-fluid">
                    <div class="">
                        <h6 class="f-20 card-text font-weight-bold text-primary mb-0">Men</h6>
                        <p class="f-14"><a href="{{ path_men }}"> {{ count_men }} Items</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <img src="{{ women_thumb }}" alt="" class="img-fluid">
                    <div class="">
                        <h6 class="f-20 card-text font-weight-bold text-primary mb-0">Women</h6>
                        <p class="f-14"><a href="{{ path_women }}"> {{ count_women }} Items</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="top-collection pb-3">
    <div class="container pt-md-3 pb-4">
        <h3 class="text-center mb-4 text-primary text-uppercase font-weight-bolder">
            {{ heading_title }}
        </h3>
        <p style="font-size: 0.9375rem;" class="text-center text-secondary"> These are our recent top bought products.</p>
        <div class="row pt-4">
            {% for product in products %}
                <div class="col-lg-3 col-md-3 col-sm-6 px-3 mb-4 product-layout">
                    <div class="product-card position-relative p-3">
                        <div class="wish-list text-right position-absolute" style="right:-5px;top: -5px;font-size: 22px;">
                            {#<i class="fas fa-heart" aria-hidden="true"></i>#}
                            <button class="border-0" type="button" data-toggle="tooltip"
                                    title="{{ button_wishlist }}"
                                    onclick="wishlist.add('{{ product.product_id }}');" style="background-color: transparent;"><i
                                        class="fa fa-heart"></i>
                            </button>
                        </div>
                        <a class="card-img-top d-block overflow-hidden h-100 w-100" href="{{ product.href }}">
                            <img
                                    src="{{ product.thumb }}"
                                    alt="{{ product.name }}"
                                    title="{{ product.name }}" class="h-100 w-100">
                        </a>
                        <div class="card-body">
                            <h4 class="product-title"><a href="{{ product.href }}"
                                                         class="f-15 font-weight-bold text-primary ">{{ product.name }}</a>
                            </h4>
                            <p class="mb-0">{{ product.description }}</p>
                            <div class="d-flex justify-content-between">
                                <div class="star-rating d-inline-block rating">
                                    {% if product.rating %}
                                        <div class="rating">
                                            {% for i in 1..5 %}
                                                {% if product.rating < i %}
                                                    <span class="fa fa-stack">
                                                            <i
                                                                    class="fa fa-star-o fa-stack-2x text-gold f-15" ></i>
                                                        </span>
                                                {% else %}
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x text-gold f-15"></i><i
                                                                class="fa fa-star-o fa-stack-2x text-gold f-15"></i></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            {% if product.price %}
                                <div class="product-price text-primary font-weight-bold f-15">
                                    {% if not product.special %}
                                        <span class="price-new text-success font-weight-bold mr-2">
                                                {{ product.price }}
                                            </span>
                                    {% else %}
                                        <span class="price-new text-success font-weight-bold">{{ product.special }}</span> <strike><span
                                                class="price-old text-accent font-weight-normal f-12">{{ product.price }}</span></strike>
                                    {% endif %}
                                    {#{% if product.tax %}#}
                                    {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                                    {#{% endif %}#}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!--<div class="text-center position-relative btn-border-div mt-4">
            <a class="btn btn-primary border-success bg-white text-success px-5" href="#" role="button">VIEW ALL</a>
        </div>-->
        <div class="text-center mt-3">
            <img src="catalog/view/theme/champion/image/720x90-1.png" alt="" class="img-fluid">
        </div>
    </div>
</section>


