<div class="container home-banner-dynamic">
    <div class="covid-msg" style="background-color: #E0F5F8;">
        <div class="media-body px-3 py-2 mb-0 small lh-125">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">{{ leftMsgTitle }}</strong>
                <a href="{{ information_href }}" class="btn btn-primary f-12">Read More</a>
            </div>
            <span class="d-block">{{ leftMsgDesc }}</span>
        </div>
    </div>
    <div class="swiper-viewport">
        <div id="slideshow{{ module }}" class="swiper-container">
            <div class="swiper-wrapper"> {% for banner in banners %}
                    <div class="swiper-slide text-center">
                        {% if banner.link %}
                            <a href="{{ banner.link }}">
                                <img
                                        src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive"/>
                            </a>
                        {% else %}
                            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid"/>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-pagination slideshow{{ module }}"></div>
        <div class="swiper-pager">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<section class="home-categories mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ sellers_href }}">
                    <div class="">
                        <img src="{{ RetailerBanners.image }}" alt="" class="img-fluid">
                        <div class="">
                            <h6 class="f-20 card-text font-weight-bold text-primary mb-0">{{ RetailerBanners.title }}</h6>
                            <p>
                                {{ count_retailers }} Sellers
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{{ path_brands }}">
                <div class="">
                    <img src="{{ brand_thumb }}" alt="" class="img-fluid">
                    <div class="">
                        <h6 class="f-20 card-text font-weight-bold text-primary mb-0">Designer Brands</h6>
                        <p class="f-14"> {{ count_brands }} Items</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{{ path_men }}">
                <div class="">
                    <img src="{{ men_thumb }}" alt="" class="img-fluid">
                    <div class="">
                        <h6 class="f-20 card-text font-weight-bold text-primary mb-0">Men</h6>
                        <p class="f-14"> {{ count_men }} Items</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{{ path_women }}">
                <div class="">
                    <img src="{{ women_thumb }}" alt="" class="img-fluid">
                    <div class="">
                        <h6 class="f-20 card-text font-weight-bold text-primary mb-0">Women</h6>
                        <p class="f-14"> {{ count_women }} Items</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript"><!--
    $('#slideshow{{ module }}').swiper({
        mode: 'horizontal',
        slidesPerView: 1,
        pagination: '.slideshow{{ module }}',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        autoplay: 2500,
        autoplayDisableOnInteraction: true,
        loop: true
    });
    --></script>